.navbar-link {
    align-items: stretch;
    width: 100%;
    gap: 2rem;
    color: whitesmoke;
}
.navbar{
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    background-color: #eddcd9;
}