.navbar-link {
    color: whitesmoke;
}
.navbar{
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    backdrop-filter: blur(5px);
    background: rgba(227, 226, 218, 0.84);
}