body{
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    background: #A0AEDD;
}

.user-details-container {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 700px;
}

.user-details-container-wrapper {
    border-radius: 30px;
    background: #DBDFFE;
    width: 200vw;
    margin-top: 20px;
    margin-left: 20px;
    height: 95vh;
    overflow: hidden;
}

.user-details-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .user-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: .5em;
    }
    .user-details{
        border-spacing: 0 1rem;
    }
    .calendar{
        width: 76vw;
    }
}
@media screen and (min-width: 1281px){
    .user-image{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .user-details{
        border-collapse: separate;
        border-spacing: 0 1rem;
    }
}

.user-detail {
    text-align: center;
}

.user-name {
    font-weight: bold;
    text-align: center;
}

.hide-details {
    visibility: hidden;
}

.sign-out-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.sign-out-items {
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
    width: 90px;
    height: 20px;
}

.sign-out-items:hover {
    cursor: pointer;
    color: red;
}

.sign.out-icon {
    width: 20px;
    height: 20px;
}

.logo-span:hover{
    color: black;
    text-decoration: none;
}

.logo-span{
   font-size: 5em;
    color: black;
}
.logo-span::after{
    position: relative;
    display: block;
    font-size: .2em;
    font-weight: bold;
    content: 'Working Time Tracking Tool';
    background-color: #DBDFFE;
    top: -4.2em;
}

.req-button {
    background-image: linear-gradient(
        45deg,
        hsla(169, 100%, 50%, 0.5),
        hsla(289, 100%, 50%, 0.5) 100%
);
    background-size: 200% 100%;
    background-position: 100%;
    transition: .2s ease-in-out;
}

.req-button:hover {
    background-position: 0;
}